.selected-field-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.form-check {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: orange;
}
  
.form-check-input {
    grid-column: 2 / 3;
}

.selected-field-name {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}

.form-check-input:checked {
    background-color: orange;
    border-color: orange;
}

.form-check-input:focus {
    box-shadow: 0 0 0.25rem orange;
}

/* .toggled {
    border: 2px solid orange;
} */

.field-type-label {
    margin-left: 8px;
    font-weight: bold;
  }


  .selected-field-vaults-tmb {
    max-height: 11em !important;
  }

  .selected-field-box {
    max-height: 11em !important;

  }
