/* Default styles for larger screens */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  max-width: 80%;
  width: 20em;
  position: relative;
}

/* Input styling */
.search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.selected-customer {
  display: flex; /* Display customer name and "X" button in a row */
  align-items: center; /* Vertically align them */
  gap: 10px; /* Add space between customer name and "X" button */
  width: 100%;
  justify-content: space-between;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Button hover styling */
.search-bar button:hover {
  background-color: #0056b3;
}

/* Suggestions box */
.suggestion-box {
  position: absolute;
  top: 100%; /* Position below the input */
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none; /* Remove top border to connect with input */
  border-radius: 0 0 5px 5px;
  max-height: 150px; /* Set a maximum height for the suggestions box */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  z-index: 1; /* Ensure the suggestions box appears above other elements */
}

/* Individual suggestion item */
.suggestion-box li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Highlight suggestion on hover */
.suggestion-box li:hover {
  background-color: #f0f0f0;
}


@media screen and (max-width: 600px) {
  .search-bar {
    max-width: 100%; /* Take up the full width on mobile */
    width: auto; /* Let it adjust based on content */
  }

  /* You can adjust the input padding and font size to make it more mobile-friendly */
  .search-bar input {
    padding: 5px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
  }
  
 }