/* EditVaultPage.css */

.edit-vault-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4; /* Background color */
}

.edit-vault-page {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 400px; /* Adjust the width as needed */
  height: 100%;
}

.page-header {
  text-align: center;
}

.page-header h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Heading color */
}

.edit-page-content {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Label color */
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button {
  background-color: #007bff; /* Save button background color */
  color: #fff; /* Save button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3; /* Save button background color on hover */
}

/* Style the DELETE button similarly if needed */
/* EditVaultPage.css */

/* ... Existing styles ... */

/* Modal Styles */
.delete-confirmation-modal {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px; /* Adjust the width as needed */
  text-align: center;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-buttons {
  margin-top: 20px;
}

.delete-button {
  background-color: #ff0000; /* Delete button background color */
  color: #fff; /* Delete button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  background-color: #ccc; /* Cancel button background color */
  color: #333; /* Cancel button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

