.edit-vault-page-container {
  display: flex;
  background-color: #f4f4f4; 
  height: auto;
  margin: 1em;
  align-content: center;
}

.edit-vault-page {
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 60em; 
  height: auto;
  margin: 0 auto;
}

.page-header {
  text-align: center;
}

.page-header h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; 
}

.edit-page-content {
  margin-top: 20px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%; /* Ensure buttons take full width */
}

.edit-vault-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; /* Adjust the gap between form fields */
}

.form-group {
  margin-bottom: 15px;
  min-width: 45%; /* Take full width by default */
  box-sizing: border-box;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; 
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.save-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3; 
}

@media screen and (max-width: 768px) {
  .edit-vault-page {
    width: 100%; /* Full width for smaller screens */
  }

  .form-group {
    min-width: 100%; /* Take full width on smaller screens */
  }

  .save-button {
    width: 50%; /* Full width for smaller screens */
  }
.edit-vault-page-container {
  margin: 1em 0;
}
.form-buttons {
   margin-bottom: 2em;
}
}