
:root {
    --white:#F4F4F4;
    --red:  #ea373d;
    --teal: #2A9D8F;
    --blue: #007bff;
    --lightgrey: #CBCBCB;
    --grey: #505050;
    --black: #1A1A1D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--black);
}

.wrapper {
    
    max-width: 800px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}