.hazard-border {
    border: 10px solid pink;
    height: 85vh;
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 20px,
        #ffb101 20px,
        #ffb101 40px
    ) 10;
    }

.staged-containers {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}    

.vault {
    border: 2px solid #A1662F;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    padding: 3px;
 
}