.hazard-border {
    max-width: 800px;
    margin: 0 auto;
    border: 10px solid pink;
    height: 85vh;
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 20px,
        #ffb101 20px,
        #ffb101 40px
    ) 10;
    }

    .staged-containers {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start; /* Adjust the alignment as needed */
    }
    
    .vault {
        font-size: 9px;
        display: flex;
        flex-direction: column;
        width: 5em;
        height: 5em;
        padding: 4px;
        border-radius: 3px;
        border: 1px solid var(--black);
        background-color: #ffb101;
    }
    