.profile-button {
  padding: 10px;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid var(--qwhite) !important;
  min-width: 10em;
  left: auto !important;
  right: auto !important;
  transform: translate(-40%, 0) !important;
  margin-top: 0.3em;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.home-button {
  width: 50px;
}

.home-button img {
  max-width: 100%;
}

.profile-button {
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.home-button {
  width: 50px;
}

.home-button img {
  max-width: 100%;
}

.sidebar-menu {
  position: fixed; /* Change to fixed positioning */
  top: 0;
  right: 0;
  bottom: 0; /* Make it cover the full height */
  width: 40%; /* Change width as needed */
  background: #1a1a1d;
  color: var(--nwhite);
  z-index: 100; /* Ensure it's on top of other content */
  overflow-y: auto; /* Enable scrolling if needed */
  display: none; /* Initially hidden */
  padding: 10px;
}

.show-sidebar {
  display: block; /* Display it when active */
}

.user-sidebar-menu {
  
}
