.add-vault-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    height: 100vh;
    z-index: 0;
}

.add-vault-form {
  flex: 1; /* Takes up remaining vertical space */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.add-vault-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.vault-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--grey);
}

.vault-info span {
  color: var(--blue);
}

.suggested-customers-container {
  width: 100%;
  overflow-y: auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggested-customers-list li:hover {
    background-color: #f0f0f0;
}

.suggested-customers-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggested-customers-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #e0e0e0; /* Add a border below each list item */
}

/* Apply a different style to the last list item to remove the border */
.suggested-customers-list li:last-child {
    border-bottom: none;
}

.vault-order-number {
    display: flex;
    justify-content: space-between;
}

.vault-order-number-item {
    width: 48%;
}

  
.add-vault-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-vault-form button:hover {
  background-color: #0056b3;
}

.customer-input-container {
  position: relative;
}

.suggested-customers-container {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.suggested-customers-container {
  position: absolute;
  width: 100%; /* Set the width to 100% */
  max-width: 300px; /* Set a maximum width */
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@media (max-width: 768px) {
  .suggested-customers-container {
    max-width: 100%; /* Adjust as needed */
    /* ... other responsive styles ... */
  }
}