.warehouse-wrapper {
    padding: 0 15px;
    height: 85vh;
}

.warehouse {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1%;
}


.field-info {
    margin-bottom: 5px;
    display: grid; 
    grid-template-columns: 72% 28%; 
    height: 30%;
}

.selected-field-vaults-tmb {
    border-right: 1px solid #ccc; 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.selected-field-id {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    color: var(--grey);
}



.top, .middle {
    border-bottom: 1px solid var(--lightgrey);
}

.top, .middle, .bottom {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.position {
    width: 1em;
    text-align: center;
    margin-right: 10px !important;
}

.top span, .middle span, .bottom span {
    margin-right: 5px;
}

.add-vault-button {
    color: var(--blue);

}

@media only screen and (max-width: 768px) {
    .selected-field-vaults-tmb .top,
    .selected-field-vaults-tmb .middle,
    .selected-field-vaults-tmb .bottom {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}



.row {
    display: flex;
    flex-direction: column;
}

.row-id {
    margin: 0 auto;
}

.fields {
    margin-top: 5px;
    height: 100%;    
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1%;
}

.field {
    border-radius: 3px;
    display: flex;
}

.field-number {
    text-align: center;
    color: var(--black);
    font-size: 12px;
    margin: 0 auto;
    align-self: center;
}



.edit-symbols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.material-symbols-outlined {
    font-size: 15px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.add-vault-button {
    cursor: pointer;
}


.selected-field {
    border: 3px solid var(--blue); 
  }
  