.confirm-staging-modal {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

.confirm-staging-modal form {
    width: 70%;
    max-width: 600px;
    background: var(--white);
    height: fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 25px;

}


.confirm-staging-modal form button {
    margin-top: 10px;
}
